.container{
    background-image: linear-gradient(#19192E, #19191B);
    align-content: center;
    color: aliceblue;
    text-align: center;
    width: 100%; 
    margin-left: auto;
    margin-right: auto;
    
    
}

h4{
    font-weight: bolder;
    text-transform: capitalize;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.imgDay{
    padding-top: 10px;
    width: 352px;
    height: 580px;
}
.days{
    padding: 150px;
    border: aliceblue;
    border-style: outset;
    margin: 10px;
}
.container :first-child{
    margin-top: 0;
}
.days p{
    padding-bottom: 100px;
}

.imgCompras, .imgMarket, .imgGif, .imgCat, .imgBugada{
    height: 350px;
}
.vidDay{
    height: 580px;
}

.container p{
    padding: 0 300px;
    padding-bottom: 10px;
    text-align: center;
    
}

.conclusion{
    padding: 50px 0;
    
}
.conclusion h2{
    font-weight: 1200;
    font-size: 4rem;
}
.conclusion p{
    font-size: 20px;
}

.conclusion .ty{
    text-shadow: 0.02em 0.02em 0.4em white;
    font-weight: 700;
    padding-bottom: 40px;

}
.conclusion a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    margin: 0 auto;
    
  }
  
  .conclusion a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .conclusion a.active {
    background-color: #04AA6D;
    color: white;
  }